# Exemple de fichier d'environnement pour le projet Ackermann

DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_LOGIN_URL=/comptes/login/
DJANGO_LOGIN_REDIRECT_URL=/
DJANGO_LOGOUT_REDIRECT_URL=/
